# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules      # Ignores the node_modules directory
/.pnp              # Ignores the .pnp directory used by Yarn Plug'n'Play
.pnp.js            # Ignores the .pnp.js file used by Yarn Plug'n'Play

# testing
/coverage          # Ignores the coverage directory typically used for test coverage reports

# production
/build             # Ignores the build directory which is commonly used for production builds

# misc
.DS_Store          # Ignores .DS_Store files, which are created by macOS
.env.local         # Ignores local environment variable files
.env.development.local  # Ignores local environment variable files for development
.env.test.local    # Ignores local environment variable files for testing
.env.production.local  # Ignores local environment variable files for production

npm-debug.log*     # Ignores npm debug log files
yarn-debug.log*    # Ignores Yarn debug log files
yarn-error.log*    # Ignores Yarn error log files
node_modules